

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>

	<div id="search">
		
		<button onClick="buildClarifaiData()">Search Tags</button>
	</div>

	<div id="result">

		<button onClick="sendRequest()">Search Prices</button>
	</div>